.index-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;

    background-color: blanchedalmond;
}

.index-header-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

a:hover {
    color:white;
    background-color:teal
}

/* For the recipe pages mostly */

.recipe-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-picture-div{
    text-align: center;
}

.recipe-pictures {
    width: 500px;
    height: auto;
}

.recipe-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;

    background-color:yellowgreen
}